.bg-containerEcommerceFotter{
    background-color:#0d2436 ;

}
.img-fotterSection{
    
}
.img-fotterEcommerce{
    background-color:#5a7184;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
.para-fotterEcommerce{
    color:#5a7184  ;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading-gettoknow{
    color:#5a7184 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.para-fotterSectionecommerce{
    color: #5a7184;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.horizontal-line{
    border: 2px solid #5a7184 ;
}
.copy-rightpara{
    color: #5a7184;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.img-fotterEcommerce2{
     font-size: 20px;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
